  <div>
    <acme-navbar></acme-navbar>
  </div>
<div class="container">



 <div class="row main">
				<div class="panel-heading">
	               <div class="panel-title text-center">
	               		<h3 class="title">Join Now</h3>
	               		<hr />
	               	</div>
	            </div> 
				<div class="main-login main-center">
					<form  name="SignUpForm" class="form-horizontal" method="post" action="#" novalidate >
						
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Your Full Name</label>
							<div class="cols-sm-10">
								<div class="input-group" title="{{SignUpForm.userFullName.$invalid && SignUpForm.userFullName.$dirty == true ? 'Full name is too short' : '' }}">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="userFullName" id="userFullName"  placeholder="Enter your Full Name" required ng-model="newUser.fullName" ng-minlength="3" ng-class="SignUpForm.userFullName.$invalid && SignUpForm.userFullName.$dirty == true ? 'field-error' : '' "   />
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="email" class="cols-sm-2 control-label">Your Email</label>
							<div class="cols-sm-10">
								<div class="input-group" title="{{SignUpForm.userEmail.$invalid && SignUpForm.userEmail.$dirty == true ? 'Wrong email!' : '' }}">
									<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
									<input type="email" class="form-control" name="userEmail" id="userEmail"  placeholder="Enter your Email" required ng-model="newUser.email" ng-class="SignUpForm.userEmail.$invalid && SignUpForm.userEmail.$dirty == true ? 'field-error' : '' " />
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="username" class="cols-sm-2 control-label">Username</label>
							<div class="cols-sm-10">
								<div class="input-group" title="{{SignUpForm.userName.$invalid && SignUpForm.userName.$dirty == true ? 'Your Username should consist at least 5 symbols' : '' }}">
									<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="userName" id="userName"  placeholder="Enter your Username" required ng-model="newUser.userName" ng-minlength="5" ng-class="SignUpForm.userName.$invalid && SignUpForm.userName.$dirty == true ? 'field-error' : '' "/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="password" class="cols-sm-2 control-label">Password</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="password" class="form-control" name="password" id="password"  placeholder="Enter your Password" required ng-keyup="signup.CheckPassword(newUser.password, newUser.confirmPassword)" ng-class="signup.passwordClass" ng-model="newUser.password"/>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="password" class="form-control" name="confirmPassword" id="confirmPassword"  placeholder="Confirm your Password" required ng-keyup="signup.CheckPassword(newUser.password, newUser.confirmPassword)" ng-class="signup.passwordClass" ng-model="newUser.confirmPassword" />
								</div>
							</div>
						</div>
						<div class="form-group ">
							<button type="button" class="btn btn-primary btn-lg btn-block login-button" ng-disabled="SignUpForm.$invalid || !signup.passwordEquals" ng-click="signup.showToastr()">Register</button>
						</div>
						<div class="login-register">
				             <a ng-href="#/login">Login</a>
				         </div>
					</form>
				</div>
			</div>





</div>