<div>
  <acme-navbar></acme-navbar>
</div>
<div class="container">
  <div class="row main">
    <div class="col-sm-3">
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="panel-heading">
        <div class="panel-title text-center">
          <h3 class="title ng-binding">Newsfeed</h3>
          <hr>
        </div>
      </div>
      <div class="postcomment-form clearfix">
        <img src="assets/images/person64.png" alt="..." class="img-rounded">
        <textarea class="form-control" rows="3" ng-model="newsfeed.postMessage"></textarea>

        <button type="button" class="btn btn-primary btn-sm " ng-click="newsfeed.share()">Share your idea</button>
        <button type="button" class="btn btn-primary btn-sm" aria-label="Left Align">
          <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
        </button>
      </div>
      <hr>
      <div class="newsfeed-form clearfix">
        <div class="post-wrapper clearfix" ng-repeat="post in newsfeed.posts | orderBy:'+':true">
          <img ng-src="{{post.userAvatar}}" alt="..." class="img-avatar img-rounded">
          <p class="post-text">{{ post.message}}</p>
          <div class="post-imageWrapper">
            <img ng-src="{{post.image}}" class="img-responsive">
          </div>
          <div class="actions">
            <button type="button" class="action-btn btn btn-default btn-sm" aria-label="Left Align">
              <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
            </button>
            <button type="button" class="action-btn btn btn-default btn-sm" aria-label="Left Align">
              <span class="glyphicon glyphicon-retweet" aria-hidden="true"></span>
            </button>
            <button type="button" class="action-btn btn btn-default btn-sm" aria-label="Left Align">
              <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
            </button>
            <button type="button" class="action-btn btn btn-default btn-sm" aria-label="Left Align">
              <span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
        <div class="col-sm-3">
      </div>
  </div>




</div>

